* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.appCont {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #1f1f7a;
}
.appMainCont {
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  align-content: center;
}
select {
  height: 100%;
}

/* .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
} */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Logo */
.logoMain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 1rem 0rem 1.5rem 0rem;
}
.logoCont {
  aspect-ratio: 1/1;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border-style: solid;
  position: relative;
}
#keyIcon {
  font-size: 8rem;
  position: absolute;
  color: #a3a3a3;
  rotate: -25deg;
}
#lockIcon {
  font-size: 8rem;
  position: absolute;
  color: #e6c200;
}

/* LOGREGISTER */
.logRegForm {
  width: 90%;
  max-width: 23rem;
  height: 55vh;
  display: flex;
  background-color: ghostwhite;
  flex-direction: column;
  justify-content: space-between;
}
.logRegFormCont {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.logForm,
.regForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.regForm {
  display: none;
}
.logRegHeader {
  margin: 0.75rem 0rem 0.75rem 0rem;
}
.regFormCont {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.logUserInput,
.logPassInput {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0rem 0rem 0.7rem 0rem;
}
.logUserInput input,
.logPassInput input {
  padding: 0.3rem;
}
.logNotify {
  width: 75%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logMessage {
  display: none;
}
.loginButton {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin: 0rem 0rem 2rem 0rem;
}
#loginBtn {
  width: 10rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  border: 0.35rem solid darkgray;
  border-radius: 5rem;
  background-color: #f3f3f3;
}
#checkMark,
#errorMark {
  display: none;
}
#checkMark {
  color: #43ac4e;
}
#errorMark {
  color: #e54932;
}
.registerButton {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.registerButtonCont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 0rem 1rem 0rem;
}
.leftRegBtn,
.rightRegBtn {
  aspect-ratio: 1/1;
  width: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  border: none;
  border-radius: 50%;
}
.regSubmitBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
#regSubmitBtn {
  width: 10rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  border: 0.35rem solid darkgray;
  border-radius: 5rem;
  background-color: #f3f3f3;
}
.regFormA,
.regFormB {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.regFormB {
  display: none;
}
.fullNameInput,
.dobInputMain {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem 0rem 0.5rem 0rem;
}
.nameInput {
  width: 47%;
  display: flex;
  flex-direction: column;
}
.dobInputMain div {
  width: 30.33%;
  display: flex;
  flex-direction: column;
}
.usernameInput,
.passwordInput,
.emailInput,
.phoneNumInput,
.secQuesOneInput,
.secAnsOneInput,
.secQuesTwoInput,
.secAnsTwoInput,
.secQuesThreeInput,
.secAnsThreeInput {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: 0rem 0rem 0.5rem 0rem;
}
.passwordInput div {
  display: flex;
  justify-content: space-between;
}
.fullNameInput input,
.dobInputMain input,
.dobInputMain select,
.usernameInput input,
.passwordInput input,
.emailInput input,
.phoneNumInput input,
.secQuesOneInput input,
.secAnsOneInput input,
.secQuesTwoInput input,
.secAnsTwoInput input,
.secQuesThreeInput input,
.secAnsThreeInput input,
.secQuesOneInput select,
.secQuesTwoInput select,
.secQuesThreeInput select {
  padding: 0.3rem;
}
.logToReg {
  display: flex;
}
.logToReg button {
  width: 50%;
  height: 3vh;
}

/* PROFILEPAGE */
.accountSideA,
.accountSideB {
  width: 100%;
  max-width: 35rem;
  display: none;
  flex-direction: column;
  align-items: center;
}
.accInfoBtn {
  width: 90%;
  max-width: 23rem;
  height: 3rem;
  display: flex;
  background: aliceblue;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  margin: 0.75rem 0rem;
}
.accInfoBtnA,
.accInfoBtnB {
  display: flex;
  align-items: center;
  justify-content: center;
}
.accInfoBtnA {
  width: 100%;
}
.accInfoBtnB {
  width: 20%;
}
.mainProfilePage {
  width: 100%;
  max-width: 26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileCardCont {
  width: 90%;
  height: 38rem;
  background-color: ghostwhite;
  overflow: hidden;
}
.profileCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileCard p {
  font-size: 1.2rem;
  margin: 0rem 0rem 1rem 0rem;
}
.grabAccBtn {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0em 0em 7rem 0em;
}
.grabAccBtn button {
  padding: 1rem 3rem;
  border-radius: 2rem;
  border: none;
}
.profileIconCont {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 3.5rem 0rem 3.5rem 0rem;
}
.profileIcon {
  aspect-ratio: 1/1;
  width: 90%;
  max-width: 10rem;
  border-style: solid;
  border-radius: 50%;
}
.addAccountForm,
.settingsForm,
.accInfoCard {
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
}

/* NAVIGATIONBAR */
.profileNav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 20rem;
  margin: 2.5rem 0rem 0rem 0rem;
}
.profileNav button {
  aspect-ratio: 1/1;
  min-width: 3.5rem;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 0.7rem;
}

/* SETTINGS */
.settingsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.75rem 0rem 1rem 0rem;
}
.settingImageCont {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0em 0em 1.5rem 0em;
}
.settingImg {
  aspect-ratio: 1/1;
  width: 60%;
  max-width: 8rem;
  border-style: solid;
  border-radius: 50%;
}
.updatePageCont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.updatePageA,
.updatePageB {
  width: 85%;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
}
.updatePageB {
  display: none;
}
.updatePageA p,
.updatePageB p {
  display: none;
}
.nameUpdate,
.dobUpdate {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem 0rem 0.7rem 0rem;
}
.firstNameUp,
.lastNameUp {
  width: 47%;
  display: flex;
  flex-direction: column;
}
.usernameUp,
.emailUp,
.passwordUp,
.phoneNumUp,
.secQuesOne,
.secAnsOne,
.secQuesTwo,
.secAnsTwo,
.secQuesThree,
.secAnsThree {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0rem 0rem 0.7rem 0rem;
}
.firstNameUp input,
.lastNameUp input,
.usernameUp input,
.emailUp input,
.passwordUp input,
.phoneNumUp input,
.secQuesOne input,
.secAnsOne input,
.secQuesTwo input,
.secAnsTwo input,
.secQuesThree input,
.secAnsThree input {
  padding: 0.3rem;
}
.dobUpdate div {
  width: 30.33%;
  display: flex;
  flex-direction: column;
}
.dobUpdate div input {
  padding: 0.3rem;
}
.deleteBtn {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 1rem 0rem 1rem 0rem;
}
.deleteBtn button {
  width: 50%;
}
.updateButton {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.updateButtonCont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0rem 0rem 1rem 0rem;
}
.settingLeftBtn,
.settingRightBtn {
  aspect-ratio: 1/1;
  width: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  border: none;
  border-radius: 50%;
}
.settingConfirmBtn {
  width: 7vw;
  padding: 0.4rem 0rem;
  border-radius: 1rem;
  border: none;
  background-color: #da69b2;
  color: white;
}

/* ADDACCOUNT */
.addAccHeader {
  display: flex;
  margin: 0.75rem 0rem 1rem 0rem;
  justify-content: center;
}
.addAccountFormCont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addAccountPageA,
.addAccountPageB {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addAccountPageB {
  display: none;
}
.accIconCont {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0em 0em 1.5rem 0em;
}
.accIcon {
  aspect-ratio: 1/1;
  width: 60%;
  max-width: 8rem;
  display: flex;
  border-style: solid;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.addAccName,
.addAccUsername,
.addAccPass,
.addAccEmail,
.addAccPhone,
.addAccSecurityOne,
.addAccAnswerOne,
.addAccSecurityTwo,
.addAccAnswerTwo,
.addAccSecurityThree,
.addAccAnswerThree {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0rem 0rem 0.7rem 0rem;
}
.addAccName input,
.addAccUsername input,
.addAccPass input,
.addAccEmail input,
.addAccPhone input,
.addAccSecurityOne input,
.addAccAnswerOne input,
.addAccSecurityTwo input,
.addAccAnswerTwo input,
.addAccSecurityThree input,
.addAccAnswerThree input {
  padding: 0.3rem;
}
.addAccSecurityB {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0rem 0rem 0.7rem 0rem;
}
.addAccBtn {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.addAccBtnCont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 0rem 1rem 0rem;
}
.addAccLeftBtn,
.addAccRightBtn {
  aspect-ratio: 1/1;
  width: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  border: none;
  border-radius: 50%;
}
.addAccSubmitBtn {
  width: 7vw;
  padding: 0.4rem 0rem;
  border-radius: 1rem;
  border: none;
  background-color: #5db4a1;
  color: white;
}

/* ACCOUNTINFOCARD */
.accInfoHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.75rem 0rem 1rem 0rem;
}
.accCardInfoA,
.accCardInfoB {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.accCardInfoB {
  display: none;
}
.accCardInfoA p,
.accCardInfoB p {
  display: none;
}
.accName,
.accUsername,
.accPass,
.accEmail,
.accPhone,
.accSecurity1,
.accAnswer1,
.accSecurity2,
.accAnswer2,
.accSecurity3,
.accAnswer3 {
  display: flex;
  flex-direction: column;
  margin: 0rem 0rem 0.7rem 0rem;
}
.accName input,
.accUsername input,
.accPass input,
.accEmail input,
.accPhone input,
.accSecurity1 input,
.accAnswer1 input,
.accSecurity2 input,
.accAnswer2 input,
.accSecurity3 input,
.accAnswer3 input {
  padding: 0.3rem;
}
.accTwoStep,
.accSecQuestion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem 0rem 0.7rem 0rem;
}
.deleteAccBtn {
  display: flex;
}
.deleteAccBtn button {
  width: 100%;
}
.updateBtn {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0rem 0rem 2rem 0rem;
}
