* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.appCont {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #1f1f7a;
}
.appMainCont {
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  align-content: center;
}
select {
  height: 100%;
}
label {
  font-size: 1vw;
}

/* Logo */
.logoMain {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 5% 0em 10% 0em;
}
.logoCont {
  aspect-ratio: 1/1;
  width: 65%;
  display: flex;
  border-style: solid;
  position: relative;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
}
.logoCont svg {
  font-size: 7vw;
  position: absolute;
}
#keyIcon {
  color: #a3a3a3;
  rotate: -25deg;
}
#lockIcon {
  color: #e6c200;
}

/* LOGREGISTER */
.logRegForm {
  width: clamp(20vw, 0em, 25vw);
  height: clamp(60vh, 0vh, 60vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}
.logForm,
.regForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0em 1.25em;
}
.regForm {
  display: none;
}
.regFormA,
.regFormB {
  display: flex;
  flex-direction: column;
}
.regFormA p,
.regFormB p {
  font-size: 0.9vw;
}
.regFormB div {
  display: flex;
  flex-direction: column;
}
.usernameInput,
.passwordInput,
.emailInput,
.phoneNumInput,
.secQuesOneInput,
.secAnsOneInput,
.secQuesTwoInput,
.secAnsTwoInput,
.secQuesThreeInput,
.secAnsThreeInput {
  display: flex;
  flex-direction: column;
  margin: 0em 0em 2% 0em;
}
.usernameInput input,
.passwordInput input,
.emailInput input,
.phoneNumInput input,
.nameInput input,
.dobInputMain input,
.dobInputMain select,
.secQuesOneInput select,
.secAnsOneInput input,
.secQuesTwoInput select,
.secAnsTwoInput input,
.secQuesThreeInput select,
.secAnsThreeInput input {
  padding: 0.35em;
  font-size: 0.7vw;
}
.fullNameInput,
.dobInputMain {
  display: flex;
  justify-content: space-between;
  margin: 0em 0em 2% 0em;
}
.passwordInput div {
  display: flex;
  justify-content: space-between;
}
.nameInput {
  width: 47%;
  display: flex;
  flex-direction: column;
}
.dobMonthInput,
.dobDateInput,
.dobYearInput {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.logRegHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 2vh 0em 3vh 0em;
}
.logUserInput,
.logPassInput {
  display: flex;
  flex-direction: column;
  margin: 0em 0em 3% 0em;
}
.logUserInput input,
.logPassInput input {
  padding: 0.35em;
}
.loginButton,
.registerButton {
  display: flex;
  justify-content: center;
  margin: 0% 0em 20% 0em;
}
.loginButton button,
.registerButton button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.logToReg {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.logToReg button {
  width: 100%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PROFILEPAGE */
.profileCardCont {
  width: 18vw;
  height: 60vh;
  background-color: white;
}
.profileCardPage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileCard p {
  margin: 0em 0em 5% 0em;
}
.profileCard button {
  width: 45%;
  height: 4vh;
  border: none;
  border-radius: 5em;
}
.profileIconCont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% 0em 15% 0em;
}
.profileIcon {
  aspect-ratio: 1/1;
  width: 10vw;
  border-style: solid;
  border-radius: 50%;
}
.addAccountForm,
.settingsForm,
.accInfoCard {
  display: none;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  padding: 0em 1.25em;
}
.accountSideA,
.accountSideB {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accInfoBtn {
  width: 75%;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: white;
  border-radius: 1.5em;
  margin: 1em 0em 1em 0em;
}

/* SETTINGS */
.settingsFormMain {
  display: flex;
  flex-direction: column;
}
.settingsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh 0em 1vh 0em;
}
.settingImageCont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 0em 5% 0em;
}
.settingImg {
  aspect-ratio: 1/1;
  width: 8vw;
  border-style: solid;
  border-radius: 50%;
}
.updatePageA,
.updatePageB {
  display: flex;
  flex-direction: column;
}
.updatePageA p,
.updatePageB p {
  display: none;
}
.nameUpdate,
.dobUpdate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0em 0em 1.5% 0em;
}
.firstNameUp,
.lastNameUp,
.dobMonthUp,
.dobDateUp,
.dobYearUp {
  display: flex;
  flex-direction: column;
}
.firstNameUp,
.lastNameUp {
  width: 47%;
}
.dobMonthUp,
.dobDateUp,
.dobYearUp {
  width: 30%;
}
.usernameUp,
.emailUp,
.passwordUp,
.phoneNumUp,
.secQuesOne,
.secAnsOne,
.secQuesTwo,
.secAnsTwo,
.secQuesThree,
.secAnsThree {
  display: flex;
  flex-direction: column;
  margin: 0em 0em 1.5% 0em;
}
.firstNameUp input,
.lastNameUp input,
.dobMonthUp input,
.dobDateUp input,
.dobYearUp input,
.usernameUp input,
.emailUp input,
.passwordUp input,
.phoneNumUp input,
.secQuesOne input,
.secAnsOne input,
.secQuesTwo input,
.secAnsTwo input,
.secQuesThree input,
.secAnsThree input {
  padding: 0.35em;
}
.deleteBtn {
  display: flex;
  justify-content: center;
  margin: 4% 0% 2% 0%;
}
.updateButton {
  display: flex;
  justify-content: center;
  margin: 5% 0em 5% 0em;
}

/* ADDACCOUNT */
.addAccountPageA,
.addAccountPageB {
  display: flex;
  flex-direction: column;
}
.addAccName,
.addAccUsername,
.addAccPass,
.addAccEmail,
.addAccPhone,
.addAccSecurityOne,
.addAccAnswerOne,
.addAccSecurityTwo,
.addAccAnswerTwo,
.addAccSecurityThree,
.addAccAnswerThree {
  display: flex;
  flex-direction: column;
}
.addAccSecurityB {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}
.addAccBtn {
  display: flex;
  justify-content: center;
}

/* NAVIGATIONBAR */
.profileNav {
  display: flex;
  justify-content: space-between;
  margin: 2vh 0em 0em 0em;
}
.profileNav button {
  aspect-ratio: 1/1;
  width: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  border: none;
  border-radius: 1em;
  cursor: pointer;
}

/* ACCOUNTINFOCARD */
.accCardInfoA,
.accCardInfoB {
  display: flex;
  flex-direction: column;
}
.accCardInfoA p,
.accCardInfoB p {
  display: none;
}
.accName,
.accUsername,
.accPass,
.accEmail,
.accPhone,
.accSecurity1,
.accAnswer1,
.accSecurity2,
.accAnswer2,
.accSecurity3,
.accAnswer3 {
  display: flex;
  flex-direction: column;
}
.accTwoStep,
.accSecQuestion {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
